<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/customstyle.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="manifest" href="/manifest.json">
  <title>College Insider webApp build 2</title>
  <style>
    .gradient-custom {
    /* fallback for old browsers */
    background: #29251e;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(58, 55, 46), rgb(114, 96, 38));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(58, 55, 46), rgba(114, 96, 38))
    }
    </style>
</head>
<body class="gradient-custom">
  <section class="vh-100 ">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <img src="https://subject.hkugac.edu.hk/newsletter/images/wordmark.png?1639544334" class="img-fluid" alt="Responsive image" >
                <p class="text-white-50 mb-5">Please enter your username and password!</p>
                <form action="/login" method="post" id="loginform">

                    <div class="form-outline form-white mb-4">
                    <input type="username" id="id" name="id" class="form-control form-control-lg" />
                    <label class="form-label" for="id">Username</label>
                    </div>
                    <div class="form-outline form-white mb-4">
                    <input type="password" id="password" name="password" class="form-control form-control-lg" />
                    <label class="form-label" for="password">Password</label>
                    </div>
                    
                        <button class="btn btn-outline-light btn-lg px-5" type="submit" >Login</button>
                        <button class="btn btn-dark" action="/">Back</button>
                        <div>               
                          <p></p>         
                          <input type="checkbox" id="rememberMe" name="rememberMe" value="true"> <label for="rememberMe">Remember me</label>
                        </div>
                </form>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script>
  </script>
</body>
</html>