<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/cdn/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/cdn/css/customstyle.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/cdn/logo.jpg">
    <title>Haewonnie's Profile!!!</title>
    <style>
      img.upfp {
        object-fit: cover;
        border-radius: 50%;
        height: 100px;
        width: 100px;
      }
      body{
        padding-bottom: 30px;
      }
      .container {
        margin-top: 30px
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="image-cropper">
            <img
              src="/cdn/wonie.jpg"
              alt="Profile Picture"
              class="img-fluid upfp"
            />
          </div>
        </div>
        <div class="col-md-8">
          <h6>!!! Sample Profile page !!!</h6>
          <h6>Its barebones for now</h6>
          <h1>Oh Hae-Won</h1>
          <h2>(Hangul: 오해원)</h2>
          <h6>About me: </h6>
          <p>I AM HAEWON I AM VERY FUNNY</p>
          <p>(KPOP Idol from NMIXX if you are confused as to who she is)</p>
          <p>Author Rating: <em>SS+⭐</em>999999/10</p>
        </div>
      </div>
      <hr />
      <h2>My Articles! 😍</h2>
      <ul>
        <p>
          <% articles.forEach(function(article) { %>
          <li>
            <a href="/articles/<%= article.slug %>"><%= article.title %></a>
            
          </li>
          <% }); %>
        </p>
      </ul>
    </div>
    <%- include('../_footer') %>
  </body>
</html>
