<div class="navbarpad">
	<nav class="navbar navbar-expand-lg navbar-light navlogo">
		<img class="headerimg" src="/cdn/headerimage.gif" alt="College Insider Logo" width="47%" />
		<!-- <button id="theme-toggle">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M12 0C5.383 0 0 5.383 0 12s5.383 12 12 12 12-5.383 12-12S18.617 0 12 0zm0 22.5c-5.799 0-10.5-4.701-10.5-10.5S6.201 1.5 12 1.5 22.5 6.201 22.5 12 17.799 22.5 12 22.5zm0-20.4c-4.752 0-8.6 3.848-8.6 8.6s3.848 8.6 8.6 8.6 8.6-3.848 8.6-8.6-3.848-8.6-8.6-8.6zm0 15.3c-3.572 0-6.5-2.928-6.5-6.5s2.928-6.5 6.5-6.5 6.5 2.928 6.5 6.5-2.928 6.5-6.5 6.5z"/>
      </svg>
    </button> -->
		<a href="/bugreport"
			><svg fill="#000000" width="30" height="30" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" stroke="#000000" stroke-width="0.00032">
				<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
				<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
				<g id="SVGRepo_iconCarrier">
					<title>bug</title>
					<path
						d="M29.006 17.674h-3.887c-0.144-1.366-0.508-2.615-1.057-3.758l0.030 0.068 3.727-2.306c0.357-0.224 0.591-0.616 0.592-1.062v-4.615c0-0.69-0.56-1.25-1.25-1.25s-1.25 0.56-1.25 1.25v0 3.919l-3.134 1.94c-1.58-2.048-4.017-3.368-6.765-3.419l-0.008-0c-2.741 0.050-5.167 1.356-6.733 3.366l-0.015 0.020-3.078-1.906v-3.919c0-0.69-0.56-1.25-1.25-1.25s-1.25 0.56-1.25 1.25v0 4.615c0 0 0 0 0 0 0 0.446 0.234 0.838 0.587 1.059l0.005 0.003 3.664 2.268c-0.53 1.086-0.901 2.348-1.042 3.678l-0.004 0.049h-3.807c-0.69 0-1.25 0.56-1.25 1.25s0.56 1.25 1.25 1.25v0h3.807c0.148 1.411 0.533 2.701 1.115 3.876l-0.030-0.066-3.68 2.171c-0.371 0.221-0.615 0.62-0.615 1.076v0 2.77c0 0.69 0.56 1.25 1.25 1.25s1.25-0.56 1.25-1.25v0-2.057l3.132-1.848c1.581 1.988 3.984 3.265 6.686 3.311l0.008 0c2.724-0.047 5.137-1.337 6.704-3.325l0.014-0.019 3.189 1.882v2.055c0 0.69 0.56 1.25 1.25 1.25s1.25-0.56 1.25-1.25v0-2.77c0-0 0-0 0-0 0-0.456-0.244-0.855-0.61-1.073l-0.006-0.003-3.743-2.208c0.542-1.098 0.921-2.375 1.064-3.723l0.004-0.049h3.887c0.69 0 1.25-0.56 1.25-1.25s-0.56-1.25-1.25-1.25v0zM16.003 26.906c-3.71 0-6.728-3.58-6.728-7.982s3.018-7.984 6.728-7.984 6.728 3.582 6.728 7.984-3.018 7.982-6.728 7.982zM12 7.75h8c0.69-0 1.25-0.56 1.25-1.25v-0c0.010-0.119 0.015-0.258 0.015-0.398 0-2.908-2.357-5.265-5.265-5.265s-5.265 2.357-5.265 5.265c0 0.14 0.005 0.279 0.016 0.416l-0.001-0.018c0 0.69 0.56 1.25 1.25 1.25v0zM18.58 5.25h-5.161c0.278-1.187 1.328-2.058 2.581-2.058s2.303 0.871 2.577 2.040l0.004 0.018z"
					></path>
				</g></svg
		></a>
	</nav>
</div>
