<div class="input-group search-container">
  <input
    type="search"
    id="search"
    class="form-control rounded"
    placeholder="🔎 Search the latest 50 uploads! "
    aria-label="Search"
    aria-describedby="search-addon"
  />
</div>