<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/cdn/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/cdn/css/customstyle.css" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="manifest" href="/manifest.json" />
		<link rel="icon" href="/cdn/logo.jpg" />
		<title>College Insider login View</title>
		<style>
			.gradient-custom {
				background-color: #fffdf8;
			}
			.black {
				background-color: #959595;
			}
		</style>
	</head>
	<body class="black">
		<section class="vh-100">
			<div class="container py-5 h-100">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-12 col-md-8 col-lg-6 col-xl-5">
						<div class="card text-black gradient-custom" style="border-radius: 1rem">
							<div class="card-body p-5 text-center">
								<div class="mb-md-5 mt-md-4 pb-5">
									<h2 class="text-black-50 fw-bold mb-2 text-uppercase">Login</h2>
									<img src="https://subject.hkugac.edu.hk/newsletter/images/wordmark.png?1639544334" class="img-fluid" alt="Responsive image" />
									<p class="text-black-50 mb-5">If you have an account, please enter your username and password!</p>
									<form action="/login" method="post" id="loginform">
										<div class="form-outline form-white mb-4">
											<input type="username" id="id" name="id" class="form-control form-control-lg" />
											<label class="form-label" for="id">Username</label>
										</div>
										<div class="form-outline form-white mb-4">
											<input type="password" id="password" name="password" class="form-control form-control-lg" />
											<label class="form-label" for="password">Password</label>
										</div>

										<button class="btn btn-outline-light btn-lg px-5 black" type="submit">Login</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<p><br /></p>
		<%- include('components/_footer') %>
	</body>
</html>
