<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/cdn/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/cdn/css/customstyle.css" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="manifest" href="/manifest.json" />
		<link rel="icon" href="/cdn/logo.jpg" />
		<title>No Permission error page</title>
	</head>
    <%- include('components/_noperm') %>
    <%- include('components/_footer') %>
</html>
