<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/cdn/bootstrap.min.css">
  <link rel="stylesheet" href="/customstyle.css">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/cdn/logo.jpg">
  <title>College Insider New Article</title>
</head>
<body>
  <div class="container">
    <h1 class="mb-4">New Article</h1>

    <form action="/articles" method="POST">
      <%- include('_form_fields') %>
    </form>
  </div>
  <p></p>
</body>
</html>