.btn:hover {
  transform: scale(1.09);
}
.btn:active {
  transform: scale(1.25);
}
.limit img {
  width: 100%;
  height: auto;
}
body {
  zoom: 75%;
  background-color: #fffdf8;
  padding-top: 65px;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #fffdf4;
  border-top: 1px solid #b6b6b66b;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}
.footer.dark {
  background-color: #242424;
}

.footer a {
  display: block;
  text-align: center;
  color: #333;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  flex-grow: 1;
}
.navbar {
  border-bottom: 0.25px solid #b6b6b66b;
  background-color: #fffdf4;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.navbar img {
  width: auto;
  max-height: 65px;
}
#pull-to-refresh {
  padding-top: 65px;
  position: absolute;
  top: -85px;
  left: 0;
  width: 100%;
  height: 65px;
  text-align: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  z-index: -1;
}

#pull-to-refresh .icon {
  font-size: 24px;
  color: #888;
  margin-top: 12px;
}

#pull-to-refresh .message {
  font-size: 14px;
  color: #888;
  margin-top: 4px;
}
#pull-to-refresh.transition {
  transition: transform 0.3s ease-out;
}

#pull-to-refresh.transition.refreshing {
  transform: translateY(
    85px
  ); /* Adjust this value to set the pulled-down position */
}
html {
  scroll-behavior: smooth;
}
.navbar-hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}
.headerimg {
  padding-top: 1vh;
  padding-bottom: 0.4vh;
}
.navbarpad {
  padding-top: 3.2vh;
}
.article-card-img {
  height: 40vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3.4vh;
  border-radius: 10px;
}
.card-container {
  width: 100%;
}
.author-bar {
  display: flex;
  padding-top: 1vh;
  padding-bottom: 3vh;
}
body.dark {
  background-color: #222;
}
.show-container {
  padding-left: 5vw;
  padding-right: 5vw;
  width: 100%;
}
.show-container img {
/* align to center, scale down size to 40% */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: auto;
}
.search-container {
  padding-left: 5vw;
  padding-right: 5vw;
  width: 100%;
}
.filter-container {
  padding-left: 5vw;
  padding-right: 5vw;
  width: 100%;
}